.box {
  width:50px;
  height:50px;
  border:1px dashed #333;
  border-radius:5px;
  margin:10px;
  display: inline-block;

  &:first-child {
    margin-left:0;
  }

}

#selected_color{
  margin-left:0;
}

.paint_box{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin:0;
}

.canvas{
  width:400px;
  border: 1px solid #333;
  overflow:hidden;
}